*.acn
*.aux
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.html
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.out.pyg
*.pdf
*.pyg
*.tex
*.toc
*~
/watchman
/pygments-main
/book.*
/_minted-*
.DS_Store
gitHeadInfo.gin
*.org.*.lean

/css
/fonts
/images
/js
/index.html
/juicy-ace-editor.html
