*.acn
*.aux
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.out.pyg
*.pdf
*.pyg
*.tex
*.toc
*~
/watchman
/pygments-main
/example.*
/_minted-*
.DS_Store
gitHeadInfo.gin
*.org.*.lean
